@import '../../styles/styles.scss';

.home-page {
  background-image: url('../../assets/home-red.svg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@include MediaQuery ($sm){
  .home-page{
    background-image: url('../../assets/onl-video.svg');
    background-position: right;
    background-size: cover;
    width: 100%;
  }
}
