.MuiTableContainer-root {
    border-radius: 10px !important;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active{
    color: #fff !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon{
    color: #fff !important;
}
