@import '../../../styles/styles.scss';

@include MediaQuery ($md){
    .subtitle, .content, .description{
        font-size: 14px !important;
        color: red;
    }

    .content{
        padding-left: 10px;
    }

    .description-content {
        padding: 20px;
    }
}