@import '../../styles/styles.scss';

.MuiBadge-anchorOriginTopRightRectangle{
    background-color: $red !important
}

.MuiButtonBase-root{
    &:hover {
        background-color: $red !important;
        color: $white;
        transition: all .2s ease-in-out !important;

        img{
            filter: invert(1) !important;
            transition: all .2s ease-in-out !important;
        }
    }
}