// Theme Colors
$root: #f50057;
$primary: #e61a27;
$danger: #ed1c2d;
$borderColor: #eaeff0;
$white: #fff;
$red: #f50357;
$borderColor: #eaeff0;
$secondary: #d1d2db;
$light: #222222;
$dark: #222;
$black: #000;
$black-1: #1b1b1b;
$black-opacity: #fff3;
$white: #fff;
$white-1: #f8f9fc;
$white-2: #f8f9fc61;
$gray: #ccc;
$gray-1: #aaa;
$blue: #40a9ff;
$blue-1: #40a9ffc9;
$blue-2: #9ac7fa;
$blue-3: #03a9f4;
$green: #4aff71c9;
$orange: #ffb139;
$color-yellow: #fecf06;
$color-purple: #5a2c7d;
$color-pink: #e00d7a;

//Button
$btn-font-size: 14px;
$btn-border-radius: 22px;
$btn-padding-x: 36px;

// Screen sizes
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// Font size
$fs-16: 16px;
$fs-14: 14px;
$fs-20: 20px;
$fs-25: 25px;
$fs-30: 30px;
$fs-40: 40px;

// Padding
$p-10: 10px;
$p-15: 15px;

// Margin
$m-5: 5px;
$m-10: 10px;
$m-15: 15px;
$m-5rem: 5rem;
